@using UmbracoExport.Controllers
@model UmbracoExport.Models.ViewModels.UmbracoExportViewModel

@{
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}
@if (Convert.ToBoolean(TempData["Error"]))
{
    <h1>An error occurred while exporting</h1>
    <p>@Html.Raw(TempData["ErrorMessage"])</p>
}
else if (TempData["DownloadUrl"] != null)
{
    <h1>File has been successfully exported</h1>
    <a href="@TempData["DownloadUrl"]">Click Here to download the export</a>
}
else
{

    using (Html.BeginUmbracoForm<UmbracoExportSurfaceController>("ExportUmbracoContentTree"))
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-9">
                @Html.EnumDropDownListFor(m => m.FileType, new { @class = "form-control-lg fill" })
            </div>
            <div class="col-md-3">
                <input class="btn btn-default" type="submit" value="Send" />
            </div>
        </div>
    }
}